
body{
    background-color: #E4E9FD;
}

.col-lg-12{
    border-radius: 15px;
    width: 100px;
    color: white;
    background-color:black;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 3% 7%;
    font-weight: 500;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
}

h1{
    line-height: 1.5rem;
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 3% 7%;
    font-weight: 700;
}
